.toggle {
	display: inline-block;
	position: relative;
	width: 3.75rem;
	height: 1.5rem;
	cursor: pointer;
  }
  
  .toggle-input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .toggle-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #d3d3d3;
	border-radius: 30px;
	transition: background-color 0.2s;
  }
  
  .toggle-thumb {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 1.125rem;
	width: 1.125rem;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	transition: transform 0.2s, background-color 0.2s;
  }
  
  .toggle-text {
	color: #333;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 0.125rem 0.375rem;
	transition: color 0.2s;
  }
  
  .toggle-input:checked + .toggle-label {
	background-color: #333;
  }
  
  .toggle-input:checked + .toggle-label .toggle-thumb {
	transform: translate3d(1.875rem, -50%, 0);
	background-color: #333;
  }
  
  .toggle-input:checked + .toggle-label .toggle-text:first-child {
	color: white;
  }
  
  .toggle-input:checked + .toggle-label .toggle-text:last-child {
	color: white;
  }
  