.scrollButton {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 9999;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s;
	border-radius: 999px;
	color: #fffffffb;
	background-color: #1a1a1af8;
	border: 1px solid #1a1a1af8;
}
.scrollButton:hover {
	
}


.darkMode .scrollButton{
	color: #000000ee;
	background-color: #b9b9b9ea;
	border: 1px solid #b9b9b9ea;

}
.scrollButton.visible {
	opacity: 1;
}

/* --- */
.scrollToTopButton {
	bottom: 55px;
	right: 30px;
}
/* --- */
.scrollToBotButton{
	bottom: 20px;
	right: 30px;
}