.homePage{
	background-color: #fff;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.generation-select{
	margin-bottom: 2px;
}

.pokemons{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pokemon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 6px 7px auto;
	transition: box-shadow .3s;
	border-radius:10px;
	border: 1px solid #ccc;
	background: #fff;
	float: left;
}

.pokemon:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2); 
	}