@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

main{
	background-color: rgb(31, 30, 30);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pokemons{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pokemon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 2px white;
	margin: 5px;
}