@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');


@font-face {
	font-family: 'Press Start 2P';
	src: url('./fonts/PressStart2P.ttf');
	}
@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins-Black.ttf');
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Oxanium', cursive;
}

#root {
	min-height: 100%;
	position: relative;
}  

Layout {
	min-height: 100%;
	position: relative;
}

.darkMode {
background-color: #222;
}
