@font-face {
	font-family: 'Press Start 2P';
	src: url('./fonts/PressStart2P.ttf');
	}
@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins-Black.ttf');
}
	
	* {
		margin: 0;
		padding: 0;
	}
	.dark {
		background-color: #222;
	}