@font-face {
	font-family: 'Press Start 2P';
	src: url('./fonts/PressStart2P.ttf');
	}
@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins-Black.ttf');
}

html, body {
	height: 100%;
	margin: 0;
}

#root {
	min-height: 100%;
	position: relative;
}  

Layout {
	min-height: 100%;
	position: relative;
}

.darkMode {
background-color: #222;
}
