.navbar{
	background-color: #222222;
	display: flex; 
	justify-content: center;
	align-items: center;
	padding-left: 0.75rem; 
	padding-right: 1rem; 
	color: #D1D5DB; 
	justify-content: space-between; 
	align-items: center; 
	width: 100%; 
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
	height: 85px;
}

.navbar__logoPokemonContainer{
display: flex;
justify-content: center;
align-items: center;
}

.logoPokemon{
	height: 70px;
	width: 70px;
}