ul li{
	display: flex;
	flex-direction: column;
	align-items: center;
}

li{
	display: flex;
	justify-content: center;
	align-items: center;
}

.SearchBarContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.searchBar{
	width: 1em;
}
.pokemonContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	padding: 0em 1em 0.5em 1em;
	border: 1px solid black;
}
.pokemonImg{
	height: 120px;
	width: 120px;
}
.pokemonStatsContainer{
	
}
.stat{
	display: flex;
}

.fire{
	background-color: #EE6231;
	border-radius: 1em;
}

.flying{
	background-color: #B7BEBF;
	border-radius: 1em;
}