li{
	display: flex;
	justify-content: center;
	align-items: center;
}

.SearchBarContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.searchBar{
	width: 1emZ;
}
.pokemonContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	padding: 1em;
	border: 1px solid black;
}
.pokemonImg{
	height: 120px;
	width: 120px;
}
.pokemonStatsContainer{
	
}
.stat{
	display: flex;
}