.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5em;
}
.darkMode .footerContainer {
  background-color: #222;
}

/* --- */
.footerContainerSocialsMedias {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialsMediasSocialMedia {
  margin: 0 0.5em;
  padding: 0.5em;
  border-radius: 100%;
  border: solid 1px #0a0a0aea;
}
.socialsMediasSocialMedia:hover {
  padding: 0.25em;
  transition: 0.7s;
}
.socialsMediasLinkedin {
  color: #11a2e6;
}
.darkMode .socialsMediasLinkedin {
  border: solid 1px #f7f4f4ea;
  color: #2ebdff;
}

.socialsMediasGithub {
  color: #333;
  border: solid 1px #0a0a0aea;
}
.darkMode .socialsMediasGithub {
  color: #f1f1f1ea;
  border: solid 1px #f7f4f4ea;
}

/* --- */

.footerContainerPortfolio {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.9em;
  color: inherit;
  transition: 0.5s;
  color: #424242f8;
}
.darkMode .footerContainerPortfolio {
  color: #f1f1f1ea;
}

.footerContainerPortfolio:hover {
  color: #050fd7;
  text-decoration: underline;
}

.darkMode .footerContainerPortfolio:hover {
  color: #2de3f0;
  text-decoration: underline;
}
