.navbar{
	min-width: 100vw;
	height: 85px;
	display: flex; 
	justify-content: center;
	align-items: center;
	justify-content: space-between; 
	align-items: center; 
	padding-left: 0.75rem; 
	padding-right: 1rem;
	margin: 1em 0;
	background-color: #fff;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.navbar__logoPokemonContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logoPokemon{
	height: 70px;
	width: 70px;
}
.logoPokemon:hover{
	height: 80px;
	width: 80px;
}

.navbar__title {
	font-family: 'Press Start 2P', sans-serif;
	font-size: 2.4vw;
	letter-spacing: 7px;
	color: #c20303;
}

/* dark-mode */
.darkMode .navbar {
	background-color: #222;
	color: #fff;
	box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); 
}
/* ------- */

@media screen and (min-width: 1600px) {
	.navbar__title {
		font-size: 30px;
	}
}
