.skipLink {
  position: absolute;
  top: -999px;
  left: -999px;
  z-index: 999;
  padding: 1rem;
  background-color: #222222;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
}

.skipLink:focus {
  top: 0;
  left: 0;
  outline: 2px solid #222222;
  outline-offset: 1px;
  margin-top: 10px;
}

.typesFieldset {
  position: relative;
}

.typesFieldset .skipLinkTypes {
  position: absolute;
  width: 35%;
  max-width: 600px;
  padding: 1em 1rem;
  background-color: #222222;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: inset(100% 0 0 0);
  clip: rect(0, 0, 0, 0);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skipLinkTypes:focus {
  clip-path: inset(0);
  clip: auto;
  outline: 1px solid #222222;
  outline-offset: 1px;
  transform: translate(-50%,-100%);
  border: 1px solid #ffffff;
}

.darkMode .skipLinkTypes:focus {
  outline: 2px solid #ffffff;
  outline-offset: 1px;
}

.darkMode .skipLink:focus{
  outline: 2px solid #ffffff;
  outline-offset: 1px;
}