.homePage{
	background-color: #fff;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}.darkMode .homePage{
	background-color: #222;
	color: #fff;
}

.generationSelectContainer{
	font-family: 'Press Start 2P', sans-serif;
	display: flex;
	align-items: center;
}

.generationText{

}

.generationSelect{
		margin-bottom: 2px;
		border: 1px solid var(--select-border);
		border-radius: 0.25em;
		padding: 0.25em 0.5em;
		cursor: pointer;
		line-height: 1.1;
		background-color: #222;
		background-image: linear-gradient(to top, #222, #222222f5 33%);
		border: 1px solid #fff;
		color: #fff;		
	}.darkMode .generationSelect{
		background-color: #fff;
		background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
		border: 1px solid #222;
		color: #222;
	}

	.searchPokemon {
		margin: 2px 0 5px 0;
		font-family: 'Roboto', sans-serif;
		color: #fff;
		font-size: 1.2rem;
		padding: 5px 0 5px 30px;
		border-radius: 0.2rem;
		background-color: #222222f5;
		border: none;
		width: 15em;
		display: block;
		border-bottom: 0.3rem solid transparent;
		transition: all 0.3s;
	}.darkMode .searchPokemon {
		color: #222;
		background-color: #fff;
	}

.pokemons{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pokemon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2px;
	transition: box-shadow .3s;
	border: 1px solid #ccc;
	border-radius: 20px;
	float: left;
}.darkMode .pokemon{
	color: #fff;
	background-color: #222;
	border: 1px solid #464646;
}
.pokemon:hover {
	box-shadow: rgba(0, 0, 0, 0.726) 200px 0px 0px  -12px inset, rgb(0, 0, 0) 10px 18px 36px -18px inset;
	border: 2px solid #20202088;
	font-weight: bold;
}
.darkMode .pokemon:hover{
	box-shadow: rgb(255, 255, 255) 80px 180px 240px -12px inset, rgba(207, 207, 207, 0.3) 0px 18px 36px -18px inset;
	border: 2px solid #77767688;
}



.NameAndId{
	background-color: #fff;
	color: #000;
	border-radius: 20px 20px 0px 0px ;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
}.darkMode .NameAndId{
	background-color: #222;
	color: #fff;
	border: 1px solid #464646;
	border-bottom: 2px solid 464646c;
}

.morePokemonsButton{
	margin: 1em 0 0.5em 0;
	background: #fffb00;
	box-shadow: rgb(255, 2, 2) 0px -23px 45px 3px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	box-sizing: border-box;
	color: black;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	outline: 0 solid transparent;
	padding: 8px 18px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: fit-content;
	word-break: break-word;
	border: 0;
	transition: 0.2s all;
} .darkMode .morePokemonsButton {
	color: #fff
}
.morePokemonsButton:hover {
	transform: scale(0.98);
	color: #fff;
	box-shadow: rgba(255, 0, 0, 0.726) 400px 0px 0px  -12px inset, rgb(0, 0, 0) 10px 18px 36px -18px inset;
} .darkMode .morePokemonsButton:hover {
	color: black;
	}
