body { cursor:url('../assets/pokedex.png'), auto;}

.homePageContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 6.5em;
	background-color: #fff;
	color: #222;
}.darkMode .homePageContainer{
	background-color: #222;
	color: #f1f1f1ea;
}

/* --- */
.homePageContainer__filterPokemonContainerWithButton{
	margin-bottom: 1em;
	color: #222;
}
.darkMode .homePageContainer__filterPokemonContainerWithButton{
	margin-bottom: 1em;
	color: #f1f1f1ea;
}
/* --- */
.homePageContainer__filterPokemonContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 0;
	overflow: hidden;
	box-shadow: 0 -1px 6px -1px rgba(0, 0, 0, 0.568), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* --- */
.generationSelectContainer__generationTitle{
	margin-top: 0.4em;
}
.filterPokemonContainer__generationSelectContainer{
	display: flex;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}


/* -- */
.filterPokemonContainer__typeTitle{
	margin-top: 1em;
	margin-bottom: 0.2em;
}
.filterPokemonContainer__typeSelectContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 300px;
	padding-left: 1em;
	font-family: 'Roboto', sans-serif;
}
.typeSelectContainer__types{
	width: 6em;
	margin: 0 0.5em;
}
/* --- */

.homePageContainer__filterPokemonContainer{
	transition: 0.6s;
	width: 220px;
}
.homePageContainer__filterPokemonContainer.open {
	height: 320px;
	width: 332px;
	transition: 0.6s;
}

.filterPokemonContainerWithButton__toggleDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	color: #222;
	padding: 5px 10px;
	cursor: pointer;
	max-width: 650px;
	text-align: center;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.568), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.darkMode .toggleDiv__toggler{
	color: #f1f1f1ea;
}
.toggleDiv__openOrCloseFilter{
	margin-left: 0.2em;
}
.darkMode .toggleDiv__openOrCloseFilter{
	color: #f1f1f1ea;
}


/* --- */
.homePageContainer__searchPokemonByName {
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.568), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
		margin: 0 1em 1.5em 1em;
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		padding: 5px 0 5px 5px;
		border-radius: 0.2rem;
		border: none;
		width: 220px;
		display: block;
		border-bottom: 0.3rem solid transparent;
	}
	.homePageContainer__searchPokemonByName:focus {
	border: none;
	}
	
	.darkMode .homePageContainer__searchPokemonByName {
		color:  #f1f1f1ea;
		background-color: #222222;
	}

	/* -------- */
.homePageContainer__pokemonsContainer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pokemonsContainer__pokemonContainer{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 110px;
	margin: 2px;
	border: 1px solid #ccc;
	border-radius: 20px;
	float: left;
}
.pokemonsContainer__pokemonContainer:hover {
	border: 1.5px solid #20202088;
}  
/* --- */
.darkMode .pokemonsContainer__pokemonContainer{
	color: #f1f1f1ea;
	background-color: #222;
	border: 1px solid #464646;
}.darkMode .pokemonsContainer__pokemonContainer:hover {
	border: 1.5px solid #f1f1f1ea;
} 

/* ----- */
.pokemonsContainer__pokemonContainer:hover .pokemon__NameAndId{
	border: 1.5px solid #464646;
	border-bottom: 0;
}  
.darkMode .pokemonsContainer__pokemonContainer:hover .pokemon__NameAndId{
	border: 1.5px solid #f1f1f1ea;
	border-bottom: 0;
}  

/* ------ */
.pokemonContainer__NameAndId{
	width: 110px;
	background-color: #fff;
	color: #000;
	border-radius: 20px 20px 0px 0px ;
	border: 1px solid #ccc;
	border-bottom: 0;
}.darkMode .pokemonContainer__NameAndId{
	background-color: #222;
	color: #f1f1f1ea;
	border: 1px solid #464646;
	border-bottom: 0;
}
/* --- */
.pokemonContainer__imgLoader{
	height: 96px;
	width: 96px;
	left: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* --- */
.pokemonContainer__imgContainer{

}
.imgContainer__PokemonImg{

}

