body {
  cursor: url("../assets/pokedex.png"), auto;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6.5em;
  background-color: #fff;
  color: #222;
}

.darkMode .homePageContainer {
  background-color: #222;
  color: #f1f1f1ea;
}

.filterPokemonContainer__searchPokemonByName {
  
}
.inputSearchPokemon {

}


/* --- FILTER BUTTON --- */

button.filterPokemonContainerWithButton__toggleDiv {
  /* reset styles par défaut du bouton :*/
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 16px;
  margin: 0 auto 10px auto;
  max-width: 650px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.3),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

/* rétablie le focus sur le composant : */
button.filterPokemonContainerWithButton__toggleDiv:focus-visible {
  outline: 2px solid #222222;
  outline-offset: 4px;
  border-radius: 8px;
}
.darkMode button.filterPokemonContainerWithButton__toggleDiv:focus-visible {
  outline: 2px solid #ffffff;
}

.darkMode button.filterPokemonContainerWithButton__toggleDiv {
  background-color: #222222;
}

.toggleDiv__toggler {
  color: #222;
  transition: color 0.3s ease;
}

.darkMode .toggleDiv__toggler {
  color: #f1f1f1ea;
}

.toggleDiv__openOrCloseFilter {
  margin-left: 0.5em;
  font-size: 1.1rem;
  font-weight: 500;
  color: #222;
}

.darkMode .toggleDiv__openOrCloseFilter {
  color: #f1f1f1ea;
}

.openOrCloseFilter__filterTitle {
  margin: 0;
  font-size: 1rem;
}

/* --- */

.homePageContainer__filterPokemonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  overflow: hidden;
  box-shadow:
    0 -1px 6px -1px rgba(0, 0, 0, 0.568),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* --- */
.generationSelectContainer__Legend {
  font-weight: bold;
  margin: auto;
}


/* -- */
.TypesSelectContainer__Legend {
  font-weight: bold;
  margin: auto;
  margin-bottom: 0.2em;
  margin-top: 1em;
}

.filterPokemonContainer__typeSelectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  font-family: "Roboto", sans-serif;

}

.typeSelectContainer__types {
  width: 6em;
  margin: 0 0.5em;
}

/* --- */

.homePageContainer__filterPokemonContainer {
  transition: 0.6s;
  min-width: 310px;
  margin-bottom: 1em;
}

.homePageContainer__filterPokemonContainer.open {
  width: min(90vw, 700px);
  height: auto;
  transition: 0.6s;
  padding: 1em 0em;
}

/* --- SEARCHBAR --- */
/* Container de l'input flottant */
.floatingInput {
  position: relative;
  width: 220px;
  margin-top: 1.5em;
  font-family: "Roboto Mono", "Courier New", monospace;
}

/* Input normal */
.floatingInput input {
  width: 100%;
  padding: 12px 12px 12px 12px;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid #C20303;
  border-left: 6px solid #C20303;
  outline: none;
  background-color: #ffffff;
  color: #222222;
}
.darkMode .floatingInput input {
  border: 2px solid #FF4747;
  border-left: 6px solid #FF4747;
  background-color: #222222;
}


/* Label flottant */
.floatingInput label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #555;
  font-size: 1.5rem;
  font-weight: bold;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: white;
  padding: 0 4px;
}

/* Animation du label au focus ou texte présent */
.floatingInput input:focus + label,
.floatingInput input:not(:placeholder-shown) + label,
.floatingInput input:valid + label {
  top: -8px;
  font-size: 0.9rem;
  color: #222;
}

.footerContainer__Portfolio:hover {
  color: #022d5b;
}

/* ===================== DARK MODE ===================== */
.darkMode .floatingInput label {
  color: #aaa;
  background-color: #1e1e1e;
}

.darkMode .floatingInput input:focus + label,
.darkMode .floatingInput input:not(:placeholder-shown) + label,
.darkMode .floatingInput input:valid + label {
  color: #ffffff;
  background-color: #222;
}

/* -------- */
.homePageContainer__pokemonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemonsContainer__pokemonContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 110px;
  margin: 2px;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  float: left;
}

.pokemonsContainer__pokemonContainer:hover {
  border: 1.5px solid #808080;
}

/* --- */
.darkMode .pokemonsContainer__pokemonContainer {
  color: #f1f1f1ea;
  background-color: #222;
  border: 1.5px solid #464646;
}

.darkMode .pokemonsContainer__pokemonContainer:hover {
  border: 1.5px solid #f1f1f1ea;
}

/* ----- */
.pokemonsContainer__pokemonContainer:hover .pokemon__NameAndId {
  border: 1.5px solid #464646;
}

.darkMode .pokemonsContainer__pokemonContainer:hover .pokemon__NameAndId {
  border: 1.5px solid #f1f1f1ea;
}

/* ------ */
.pokemonContainer__NameAndId {
  width: 110px;
  background-color: #fff;
  color: #222;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #ccc;
  border-bottom: 0;
}

.darkMode .pokemonContainer__NameAndId {
  background-color: #222;
  color: #f1f1f1ea;
  border: 1px solid #464646;
  border-bottom: 0;
}

/* --- */
.pokemonContainer__imgLoader {
  height: 96px;
  width: 96px;
  left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* --- */
.pokemonContainer__imgContainer {
}

.imgContainer__PokemonImg {
}


/* --- */

/* =============================== FIELDSET ================================ */

.generationRange {
  width: 100%;
  max-width: 650px;
  margin-bottom: 1.5em;
}
.generationRange_legend{
  margin-bottom: 0.5em;
  font-weight: bold;
  text-align: center;
}

/* =============================== CONTAINER ================================ */

.rangeContainer {
  position: relative;
  margin-bottom: 1em;
  min-width: 250px;
}

/* =============================== INPUT RANGE - START ================================ */

/* input */
.rangeThumb {
  position: absolute;
  width: 100%;
  height: 14px;
  pointer-events: none;
  appearance: none;
  background: none;
  z-index: 3;
}
.rangeThumb:focus {
  outline: none;
}
.rangeThumb.start {
  
}

.rangeThumb.end {
  
}

/* ===== circles ===== */

/* Chrome */
.rangeThumb::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #222;
  cursor: pointer;
}
.rangeThumb:focus-visible::-webkit-slider-thumb {
    outline: auto;
    outline-color: red;
    box-shadow: 0 0 0 3px rgb(0, 0, 0);
}
.darkMode .rangeThumb:focus-visible::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
}

/* firefox : */
.rangeThumb::-moz-range-thumb  {
  pointer-events: all;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #222;
  cursor: pointer;
}
.rangeThumb:focus::-moz-range-thumb {
  outline: 2px solid #222222;
  outline-offset: 1px;
}
.darkMode .rangeThumb:focus::-moz-range-thumb {
  outline: 2px solid #ffffff;
}

/* =============================== TRACK ================================ */

.rangeTrack {
  position: relative;
  height: 14px;
  background: #ffffff;
  border: 2px solid #222;
  border-radius: 20px;
}

/* =============================== SELECTED RANGE ================================ */

.rangeSelected {
  position: absolute;
  height: 100%;
  background: #c01818;
}
.darkMode .rangeSelected {
background: #FF4747;
}
/* =============================== LABELS ================================ */

.rangeLabel {
  position: absolute;
  top: 1.1em;
  font-size: 1.1rem;
  pointer-events: none;
}

.rangeLabel.left {
  left: 0;
}

.rangeLabel.right {
  right: 0;
}

/* Skip link styles moved here to avoid CSS in JSX */
.skip-link {
  position: absolute;
  top: -999px;
  left: -999px;
  z-index: 999;
  padding: 1rem;
  background-color: #222222;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
}

.skip-link:focus {
  top: 0;
  left: 0;
  outline: 2px solid #222222;
  outline-offset: 1px;
  margin-top: 10px;
}

.homePageContainer__filterPokemonContainer > li {
  position: relative;
}

.skip-link-types {
  position: absolute;
  width: 35%;
  max-width: 600px;
  padding: 1em 1rem;
  background-color: #222222;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: inset(100% 0 0 0);
  clip: rect(0, 0, 0, 0);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skip-link-types:focus {
  clip-path: inset(0);
  clip: auto;
  outline: 1px solid #222222;
  outline-offset: 1px;
  transform: translate(-50%, -60%);
  border: 1px solid #ffffff;
}

.darkMode .skip-link-types:focus {
  outline: 2px solid #ffffff;
  outline-offset: 1px;
}

.darkMode .skip-link:focus {
  outline: 2px solid #ffffff;
  outline-offset: 1px;
}