.pokedexPageContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.darkMode .pokedexPageContainer{
	color: #fff;
}

/* --- */
.pokedexPageContainer__imgContainer{

}
.imgContainer__img{
	width: 10em;
}

/* --- */
.pokedexPageContainer__nameAndIdContainer{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.nameAndIdContainer__pokemonName{
margin: 0em 0.5em;
}
.nameAndIdContainer__pokemonId{
	margin: 0em 0.5em;
}

/* --- */
.pokedexPageContainer__typesContainer{
	display: flex;
	align-items: center;
	
}
.typesContainer__typesTitle{

}

/* --- */
.pokedexPageContainer__weightAndHeightContainer{
	display: flex;
}
.pokedexPageContainer__weightContainer{
	display: flex;
	margin: 0em 0.5em;
}
.weightContainer__weightTitle{
	margin-right: 0.2em;
}
.weightContainer__weight{

}

/* --- */
.pokedexPageContainer__heightContainer{
	display: flex;
	margin: 0em 0.5em;
}
.heightContainer__heightTitle{
	margin-right: 0.2em;
}

/* --- */
.pokedexPageContainer____categoryContainer{
	display: flex;
}
.categoryContainer__categoryTitle{
	margin-right: 0.2em;
}
.categoryContainer__category{

}

/* --- */
.pokedexPageContainer____genderContainer{
	display: flex;
}
.genderContainer__genderTitle{
	margin-right: 0.2em;
}
.genderContainer__gender{

}