/* =================================
   GENERATION FILTER
   ================================= */

.generationFilter {
  width: 100%;
  max-width: 650px;
  margin-bottom: 1.5em;
}

.generationFilterLegend {
  margin-bottom: 0.5em;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
}

/* Range slider container */
.generationFilterRangeContainer {
  position: relative;
  margin-bottom: 1em;
  min-width: 250px;
}

/* Range input */
.generationFilterRangeThumb {
  position: absolute;
  width: 100%;
  height: 14px;
  pointer-events: none;
  appearance: none;
  background: none;
  z-index: 3;
}

.generationFilterRangeThumb:focus {
  outline: none;
}

/* Chrome slider thumb */
.generationFilterRangeThumb::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #222;
  cursor: pointer;
}

.generationFilterRangeThumb:focus-visible::-webkit-slider-thumb {
  outline: auto;
  outline-color: red;
  box-shadow: 0 0 0 3px rgb(0, 0, 0);
}

.darkMode .generationFilterRangeThumb:focus-visible::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px rgb(255, 255, 255);
}

/* Firefox slider thumb */
.generationFilterRangeThumb::-moz-range-thumb {
  pointer-events: all;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #222;
  cursor: pointer;
}

.generationFilterRangeThumb:focus::-moz-range-thumb {
  outline: 2px solid #222222;
  outline-offset: 1px;
}

.darkMode .generationFilterRangeThumb:focus::-moz-range-thumb {
  outline: 2px solid #ffffff;
}

/* Range track */
.generationFilterRangeTrack {
  position: relative;
  height: 14px;
  background: #ffffff;
  border: 2px solid #222;
  border-radius: 20px;
  margin: 0 11.5px;
}

/* Selected range */
.generationFilterRangeSelected {
  position: absolute;
  height: 100%;
  background: #c01818;
}

.darkMode .generationFilterRangeSelected {
  background: #ff4747;
}

/* Range labels */
.generationFilterRangeLabel {
  position: absolute;
  top: 1.1em;
  font-size: 1.1rem;
  pointer-events: none;
}

.generationFilterRangeLabelLeft {
  left: 0;
}

.generationFilterRangeLabelRight {
  right: 0;
}
